<!DOCTYPE html>
<html>
<head>
    <title>User <%= user.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>User <%= user.name %></h1>
    <p>Welcome to user page</p>
    <div>
        <%= user.id %>
        <%= user.name %>
        <%= user.mail %>
    </div>
    <form action="<%= apiUrl %>/upload-video/<%= user.id %>" method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <button>Upload123</button>
    </form>
</body>
</html>
